.entries-list {
  margin-top: 2rem;
}

.collapsible {
  margin: 1rem 0;
}

.collapse-button {
  background-color: var(--input-background);
  color: var(--text-color);
  width: 100%;
  text-align: left;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}

.collapse-button:hover {
  background-color: var(--border-color);
}

.table-container {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.table-container.visible {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  text-align: left;
}

th, td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-color);
}

th {
  font-weight: 500;
  background-color: var(--input-background);
}

tr:hover {
  background-color: var(--input-background);
}

@media (prefers-color-scheme: dark) {
  .collapse-button {
    background-color: #263449;
  }

  .collapse-button:hover {
    background-color: #334155;
  }

  th {
    background-color: #263449;
  }

  tr:hover {
    background-color: #263449;
  }
} 